<h1>Thank you for volunteering, <%= @user.name %>! </h1>
<%= "Here are the events you have signed up for:" %><br/>

<%= link_to "Back To Events", events_path %> | <%= link_to 'Delete You Account', @user, method: :delete, data: { confirm: 'Are you sure?' } %> 
