// Place all the styles related to the events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/********************************************************
***********************FRONT PAGE***********************/

.addNewPage{
  text-align: center;
}

 .formAddEventTile {
  border-radius: 10px;
  padding: 10px 10px 30px;
  text-align: center; 
  display: inline-block;
  width: 500px;
  height: auto;
  background-color: #E8E6E1;
  margin-top: 100px;
  opacity: .9
  }

 .addEventInput input[type=text]{
  text-align: center;
  width: 250px;
  height: 30px;
  margin-bottom:5px;
  border-radius:5px;
 }

 .eventTile {
  background-color: #D8E2E3;
  opacity: .9;
  margin: 0 5px 5px;
  border-radius: 5px;
  padding: 0px 5px 10px;
  text-align: center;
  display: inline-block;
  overflow: hidden;
  width: 1000px;
  height: 200px;
  margin-left: 50px;
  margin-right: 50px;
  }

 .style_image {
  height: 175px;
  width: 200px;
  border-radius: 5px;
  margin-right: 700px;
  margin-top: -235px;
}

/**************************************************
********************SHOW PAGE*********************/

.jumbotron {
  margin-top: -10px;
  opacity: .9
}

.showImage{
  width:100%;
}

.showBody {
  font-size: 24px;
  background-color: #D8E2E3;
  border-radius: 5px
}