// Place all the styles related to the sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.logInForm {
  border-radius: 10px;
  padding: 10px 10px 30px;
  text-align: center; 
  display: inline-block;
  width: 500px;
  height: auto;
  background-color: #E8E6E1;
  margin-top: 100px;
  margin-left: 35%;
  opacity: .9
  }